<%- include('../partials/header') %>

<h1>This is the New Class Page</h1>

<form action="/classes" method="POST">
  <label>Class Name:
    <input type="text" name="name">
  </label><br>
  <label>Description:
    <textarea name="description" placeholder="A brief explanation of the subject matter of your class or group."></textarea>
  </label><br>
  <button type="submit">Add Class</button>
</form>

<%- include('../partials/footer') %>