<%- include('./partials/header') %>

<section id="landingExplainer"><p>The Student Project Roles App is designed to help teachers and students, or admins and direct reports, assign and manage roles in different projects. It offers an easy-to-navigate view of projects, roles and assignees, and simple controls for project leaders to create all of the above. Come test it out with your own projects, or use one of our templates!</p></section>

<a href="/auth/google">LOG IN</a>

<%- include('./partials/footer') %>