<%- include('./partials/header') %>

<section id="landingExplainer">
  <h1>Welcome to the Project Roles App</h1>
  <img src="https://i.imgur.com/8dLknPu.jpg" id="landingImage">
  <p>The Project Roles App is designed to help teachers and students, admins and direct reports, or any team and leader assign and manage roles in different projects. It offers an easy-to-navigate view of projects, roles and assignees, and simple controls for project leaders to create all of the above. Come test it out with your own projects, or use one of our templates (coming soon)!</p></section>



<%- include('./partials/footer') %>