body {
  padding: 0;
  border: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
text-decoration: none;
}

#headerNav {
  background-color: rgb(244, 238, 238);
  border-bottom: grey;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#pageTitle {
  font-size: large;
}

#leftNav {
  margin-left: 2vw;
  display: flex;
  flex-direction: row;
}

#rightNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 2vw;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#landingExplainer {
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4vh;
}

#landingExplainer h1 {
  text-align: center;
  font-size: x-large;
}

#landingImage {
  width: 50vw;
  border-radius: 5%;
  box-shadow: 10px 10px 5px lightblue;
}

.classnav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1vw;
  margin-left: 2vw;
}

.classbox {
  height: 80px;
  width: 100px;
  border: darkgray;
  border-width: 2px;
  box-shadow: 10px 10px 5px lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.classindex {
  margin-left: 2vw;
}

#addclass {
  height: 80px;
  width: 100px;
  border: darkgray;
  border-width: 2px;
  box-shadow: 10px 10px 5px lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}